.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-s) 0;
}
.site-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxs);
}

.desktop-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.mobile-menu{
    display: none;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.button-mobile-menu{
    display: none;
}

@media (max-width: 768px) {
    .desktop-menu{
        display: none;
    }
    .button-mobile-menu{
        display: block;
    }

}