.card{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xxs);
    background-color: var(--surface-1);
    border: 1px solid var(--surface-outline-1);
    border-radius: var(--radius-m);
    width: 100%;
}

.card:hover{
    transform: translateY(-4px);
    cursor: pointer;
    box-shadow: 0px 18px 36px -18px rgba(0,0,0,0.1),0px 30px 45px -30px rgba(50,50,93,0.15);
}
.card:hover .read-more-icon {
    transform: translateX(4px);
    opacity: 1;
}

.card-thumbnail{
    min-height: 300px;
    background-color: var(--surface-2);
    border-radius: var(--radius-s);
}

.card-footer{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-l);
}

.card-footer-label{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}

.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxs);
}

.card-footer-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--spacing-xxs)
}

.read-more-icon{
    opacity: 0;
    transition: all 300ms ease-in-out;
}

