@import url('https://fonts.cdnfonts.com/css/satoshi');
@import 'variables.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Satoshi, Poppins, Inter, Arial, Helvetica, sans-serif;
}

body{
  background-color: var(--surface-0);
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}